<nav>我要买车</nav>


<ul class="personal-list" ng-if="main.awards.length">
    <li ng-repeat="award in main.awards">
        <dl class="act-info">
            <dt>活动类型: </dt>
            <dd>{{award.ActivityType}}</dd>
            <dt>活动名称: </dt>
            <dd>{{award.ActivityName}}</dd>
            <dt>中奖信息: </dt>
            <dd>{{award.PrizeDesc}}</dd>
            <dt>领奖状态: </dt>
            <dd>{{award.StatusDesc}}</dd>
        </dl>
    </li>
</ul>

<div ng-if="!main.awards.length">
</div>

<nav-footer></nav-footer>